.App {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

table {
  border-collapse: collapse;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid #04588C;
  background-color: black;
}

.cell.active {
  border: 1px solid #F06BF2;
  background-color: #532473;
}

.cell.playing {
  border: 1px solid #79F2E6;
  /* background-color: #532473; */
}

.light-pink {
  color: #F06BF2;
}

.light-purple {
  color: #532473;
}

.light-indigo {
  color: #7630D9;
}

.light-blue {
  color: #04588C;
}

.light-cyan {
  color: #79F2E6;
}
